*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	font-family: Arial, sans-serif;
	font-synthesis: none;
	font-weight: 400;
	line-height: 1.5;
	color: rgba(255, 255, 255, 0.8);

	background: linear-gradient(to bottom, #7F51B0 0%, #430A81 60%, #430A81 100%);
	background-attachment: fixed;

	min-height: 100vh;
	overflow-x: hidden;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: rgba(255, 255, 255, 0.8);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: all 0.3s ease;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}
