<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}"></head>
<body>
    
    <header>

        <h3>ABSORTECH</h3>
        <nav>
            <a href="#">Instagram do Ramo IEEE UFF</a>
            <a href="#">Instagram da CS&EPS</a>
        </nav>
        
    </header>
    
    
    <main>

        <h1>ABSORTECH</h1>
        <h2>Discrição e Dignididade</h2>

        <table>
            <thead>
                <tr>
                    <th>Andar</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Valor Leitura</th>
                </tr>
            </thead>
            <tbody>
                {% for leitura in leituras %}
                <tr>
                    <td>{{ leitura.andar }}</td>
                    <td>{{ leitura.data }}</td>
                    <td>{{ leitura.hora }}</td>
                    <td>{{ leitura.valor_leitura }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Nenhum dado disponível.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </main>
    
    
    <footer>
        <p>Redes sociais</p>
    </footer>

    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>