* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header {}
.buttonHomepage {}
.title1 {}
.title2 {}
.main {}
.title3 {}
.statusDiv {}
.footer {}
.iframeMap {}
.infoDiv {}
.textDiv {}
.text {}
.linkDiv {}
.linkCSEPS {}
.linkRamoUFF {}